body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
  }
  
  .navbar-brand img {
    max-height: 80px;
  }
  
  .navbar-toggler-icon {
    background-color: white;
  }
  
  .navbar-nav li {
    margin: 0 15px;
  }
  .navbar-nav li a {
    color: white;
  }
  .navbar-nav li a:hover {
    color: #666;
  }
  
  .intro {
    background-color: white;
    padding: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
  }
  .intro h1 {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    font-size: 2.5rem;
  }
  .intro p {
    color: #666;
    font-size: 1.2rem;
  }
  
  footer {
    font-size: 0.9rem;
  }
  
  img {
    max-width: 100%;
  }
/* Añadimos reglas CSS para el logo y las imágenes en dispositivos móviles */
.mobile-logo {
  max-width: 100%; /* Hace que el logo sea responsivo en dispositivos móviles */
}

.desktop-logo {
  max-width: 350px; /* Ajusta el tamaño del logo para dispositivos de escritorio */
}

/* Añadimos reglas CSS para los íconos de redes sociales en dispositivos de escritorio */
.social-icon {
  color: white; /* Color blanco predeterminado */
  text-decoration: none; /* Quitar subrayado enlaces */
  transition: color 0.3s; /* Transición de color en 0.3 segundos */
  margin-right: 20px; /* Separación entre íconos */
}

.social-icon:hover {
  color: gray; /* Cambia a gris al pasar el puntero sobre el ícono */
}
.destination {
  background-color: #f4f4f4; /* Fondo gris claro */
  border: 1px solid #ddd; /* Borde del polaroid */
  padding: 20px; /* Espacio interno */
  margin: 10px; /* Margen entre polaroids */
  border-radius: 10px; /* Esquinas redondeadas */
}

.destination img {
  max-width: 100%;
  border-radius: 5px; /* Esquinas redondeadas para la imagen */
}

